/**
 * @file
 * Additional CSS rules for text captcha related layout stuff
 */

/**
 * CSS for word lists as radios form elements
 */
.text-captcha-word-list-radios .form-item {
  display: inline;
  margin: 0.75em;
  padding: 0.75em;
  white-space: nowrap;
}
